body, html { margin:0; padding:0; height:100%; font-family: Arial, sans-serif;    background: #a0aab9;
}
.transition-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.option-card {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 40px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.option-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.option-icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: #007BFF;
}
.option-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
.option-desc {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}
.option-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #939aa2;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
}
.option-btn:hover {
    background: #0e8b48;
}

.option-btn:active {
    transform: translate(-2px,-2px);
}


.disabled{
    display: none;
}

/* style de la section saisie d'input et de son button commencer */

.contenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    margin: 60px auto;
    padding: 30px 20px;
    border: 1px solid #ccc;
    background-color: #f0f6f8e7;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenaire h2 {
    margin-bottom: 10px;
    color: #004d66;
    font-size: 22px;
}

.contenaire h3 {
    margin-bottom: 20px;
    color: #1f3137;
    font-size: 16px;
    text-align: center;
}

.contenaire input[type="url"] {
    width: 90%;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.contenaire input[type="url"]:focus {
    border-color: #0088cc;
}

.contenaire input[type="button"] {
    width: 60%;
    height: 40px;
    font-size: 16px;
    background-color: #989fa2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contenaire input[type="button"]:hover {
    background-color: #159d42;
}


.contenaire input[type="button"]:active {
    transform: translate(-2px,-2px);
}
